<div class="row">
  <div class="col-md-4"><h3 class="text-center">To Do</h3>
  <%= render @to_do %>
  </div>
  <div class="col-md-4"><h3 class="text-center">Doing</h3>
  <%= render @doing %>
  </div>
  <div class="col-md-4"><h3 class="text-center">Done</h3>
  <%= render @done %>
  </div>
</div>
<br>
<%= link_to 'New Task', new_task_path %>
