<h1> About Me </h1>
<big>
<p class="text-foo"><%= image_tag "kirkdo_pic.png", :align=>"left", :style=>"padding-right:10px;" %> Hello, my name is Kirk and I am a Rails Developer. Kirkdo is an application that allows one to track the progression of their tasks or to do lists. While working on your tasks, you can edit them as you go. My vision is to improve individuals productivity with this application and have a little fun in the process.</p> <p class="text-foo">You will find equipped in the application, the feature of embedding YouTube, Vimeo, Soundcloud and Twitter. For example, If you added the following YouTube video code into your task, <i>https://youtu.be/N7x1ltOxjIE</i>, you would now have the YouTube video embedded into your task.</p>
<p class="text-foo">I hope you enjoy the application and find it helpfull as well. If you have any questions about embedding media into your tasks, feel free to contact me via the contact information below and I will get back with you.</p>

<p class="text-foo"><center>
	<address>
  <h3>GreySpace</h3>
  208 N. Portage Path, Suite 102<br>
  Akron, OH 44303<br>
</address>

<address>
  <h3>Kirk D. Shelton</h3>
  <a href="mailto:#">kds@greyspacecorp.com</a>
</address>
</big></center>
<p/>

