<h1> About Me </h1>
<p> My vision is to improve individuals productivity with this application. Kirkdo is an application that allows one to track the progression of their tasks or to do lists. While working on your tasks, you can edit them as you go. Also equipped in the application, is the feature of adding YouTube, Vimeo, Soundcloud and Twitter links. </p>
<p> I hope you enjoy the application and find it helpfull as well. If you have any questions, feel free to email me at <a href= "mailto:kds@kirkdshelton.com">kds@kirkdshelton.com</a></p>