// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
font-family: 'Pacifico', cursive;

}

h3{
font-family: 'Pacifico', cursive;

}


.icon-bar {
	
	font-family: 'Pacifico', cursive;
}

.panel-footer{
	
	
	border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    padding: 2px 15px;

}




